*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
npm-debug.log*

dist
worker
!cli/src/worker
!/worker

# Cargo
/target
/out

# Node
node_modules

# Mac OSX temporary files
.DS_Store
**/.DS_Store